<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="script/index.js"></script>
    <title>Newsletter App</title>
  </head>
  <body>
    <h1>Let's keep in touch!</h1>
    <div class="form-wrapper">
      <form id="newsletter" action="/" method="POST">
        <label for="f-name">First Name</label>
        <input
          id="f-name"
          name="fname"
          type="text"
          placeholder="Your first name?"
          required
        />
        <label for="l-name" class="input-top">Last Name</label>
        <input
          id="l-name"
          name="lname"
          type="text"
          placeholder="Your last name?"
          required
        />
        <label for="e-mail" class="input-top">E-mail</label>
        <input
          id="e-mail"
          name="email"
          type="email"
          placeholder="Best email?"
          required
        />
        <button type="submit">Send</button>
      </form>
    </div>
    <small><%=message%></small>
    <div class="contact-info-wrapper">
      <p class="show-contact">
        Total contacts: <span class="contact-data"><%=listTotal%></span>
      </p>
    </div>
  </body>
</html>
